#passwordResetDiv{
    padding: 1rem 7.5rem;
}
#passwordResetDiv input{
    border: 1px solid #0E093C;
}
#passwordResetDiv label{
    background-color: #F9F9F9;
    border-radius: 0.5rem;
    padding: 0.1 0.2rem;
    box-sizing: border-box;
    color: #0E093C;
    font-size: 0.8rem;
    font-weight: 500;
    
}
#resetPasswordText{
    display: flex;
    align-items: center;
    color: #5B5B5B;
    font-size: 1rem;
    column-gap: 0.4rem;
    padding-left: 2.6rem;
    line-height: 3.5rem;
    cursor: pointer;
}
.input_headerText{
    color: #939393;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.5rem;
    height: 2.5rem;
    
}
.password_inputDiv{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.56rem;
}
#password_generationDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 9.9rem;
    height: 2.1rem;
    border: 1px solid #939393;
    border-radius: 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #939393;
}
#btnDiv{
    display: flex;
    justify-content: center;
}
#passwordResetDiv form button{
    width: 29.5rem;
    height: 3.2rem;
    margin-top: 2.5rem;
    font-size: 1rem;
}