#Change_Password_mainDiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);

}
#Change_Password_wrapperDiv{
    position: absolute;
    background-color: #FFFFFF;
    width: 24.9rem;
    height: 10.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.8rem 2rem;
    box-sizing: border-box;
}
#warning_img{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -2.1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#Change_Password_wrapperDiv p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -0.1rem;
    color: #000000;
}
#Change_Password_wrapperDiv button{
    width: 6.93rem;
    height: 2.87rem;
    border: 1px solid #0E093C;
    background-color: #0E093C ;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    color: #FFFFFF;
}
#Change_Password_wrapperDiv button:nth-child(2){
    background-color: transparent;
    color: #0E093C;
}
#btnDiv{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}